*, 
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #D9DFC6;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.searchInput{
    background-color: transparent;
    padding: 7px 14px;
    border: 1px solid black;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#moviesEl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px;
    background-color: #EFF3EA;
}

.movie{
    width: 100%;
    height: 360px;
    box-shadow: 0 4px 5px rgba(0, 0, 0.2);
    padding: 10px;
}

.movie img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.pagination{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #FFF2C2;
    padding: 20px 0;
}

#next, #prev{
    background-color: #FFFDF0;
    padding: 10px 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
}

#title{
    cursor: pointer;
    font-size: x-large;
}